@charset "UTF-8";

/* Color Palette
#2B2D42 - Dark blue
#8D99AE - Light Blue
#EDF2F4 - Blue/White
#EF233C - Red
*/

/* Global Styles */

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
	margin: 0;
}
.profile-img {
	border-radius: 50%;

}
h1,h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 40px;
	margin-top: 0;
}

a {
   color: #EF233C; 
}

a:hover {
    text-decoration: none;
}
.content-wrap {
    max-width: 950px;
    margin: 0 auto;
	padding: 50px;
	overflow: hidden;
}
.list-font-width {
	font-weight: bold;
	text-align: left;
	font-size: x-large;
}
.col-narrow {
	width: 30%;
	float: left;
}
.left-indent {
	text-indent: 0px;
	display: inline-block;
	margin: 0;
	border: medium ;	
}

.col-wide {
	width: 70%;
	float: left;
	padding-left: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns:1fr 3fr;
}

.grid-item {
    border: 1px solid #222;
    text-align: center;
}

/*Header and Footer*/



header, footer {
	background: #2B2D42;
    color: #8D99AE;
}

header {
	text-align: center;
}


/* Header */
header h1, header h2 {
	color: #EDF2F4;
	margin: 0;
}

/* Footer */
footer {
	text-align: center;
}

.contact-info a {
	background: white;
	margin: 10px;
}

/*
header h1 {
    color: #FFFFFF;    
}
*/


/*Work Experience*/
.work {
    background: #EDF2F4;
}
.bolded {
	font-weight: bold;
	font-size: medium;
}

/*Education  */
.education {
    background: #8D99AE;
}


bigger-font {
	font-size: x-large;

}
footer a {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}
